<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no" name="viewport" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="format-detection" content="email=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="keywords" content="学习详情" />
    <meta name="description" content="学习详情" />
    <title>学习详情</title>
    <link rel="stylesheet" type="text/css" href="common/css/weui.min.css">
    <link rel="stylesheet" type="text/css" href="css/study.css">
    <link rel="stylesheet" type="text/css" href="css/comment.css">
    <link rel="stylesheet" type="text/css" href="css/animate.min.css">

</head>
<body>
    <section id="app" v-cloak>
        <div class="title">
            <h2>上市公司市值管理的六大模式</h2>
            <p>金融/投融资<time>1小时前</time></p>
        </div>

        <article class="mian">
            <img src="images/pic.jpg" />
            <p>
                随着大量民营企业的上市，市值管理成为当今中国资本市场的一大热点。由于市值管理乃国人首创，无发达市场现成的模板可循，再加上中国新兴资本市场的特色，对市值管理内涵的理解无奇不有，有的将市值管理理解为管理市值，于是走上了操纵股价的道路；有的将市值管理等于投资者关系，以致于投资者调研越多公司市值跌得越多而不知其所以然。

正是由于存在不同的市值管理理解，由此衍生出了千奇百怪的市值管理实践，总体来说形成了六大市值管理模式。

这其中既有违法违规的邪门歪道式的所谓市值管理，也有只及一点无触其它的偏道式的市值管理，当然也有价值创造、价值营销与价值经营并重的市值管理正道。因此，总结当前市场上存在的市值管理模式，对于上市公司全面和正确了解市值管理，从而开展科学、有效和合规的市值管理，具有重要的现实意义。
            </p>
        </article>

        <!-- 评论区 -->
        <div class="comment">
            <h3>评论(23)</h3>
            <ul>
                <li class="weui-flex" v-for="(list,index) in lists" >
                    <div class="tx"><img :src="list.portrait" /></div>
                    <dl class="weui-flex__item">
                        <dt>
                            <h4>{{list.name}}</h4>
                            <p>{{list.content}}</p>
                        </dt>
                        <dd class="weui-flex">
                            <time class="weui-cell__bd">{{list.time}}</time>
                            <em class="weui-cell__ft" @click="thumbsUp(list)">
                                <img class="dz" v-if='list.praise==false' src="images/dz.png">
                                <img class="dz" v-else src="images/dz_c.png">
                                {{list.praiseNum}}
                            </em>
                        </dd>
                    </dl>
                </li>
            </ul>
        </div>
        <div class="see_more"  @click="dialog=true">查看所有评论</div>

        <my-dialog v-bind:dialog.sync="dialog"></my-dialog>
        <div class="d_white onload" @click="dialog=true">下载逐鱼APP，查看更多资源信息</div>
    </section>
    <div class="bottom_line"></div>

    

    <script type="text/javascript" src="common/js/vue.js"></script>
    <script src="common/js/dialog.js"></script>
    <script>

        var vm = new Vue({
            el:'#app',
            data:{
                dialog:false,
                lists:[
                    {'portrait':'images/tx.jpg','name':'曹云','content':'填充内容填充内容填充内容填充内容填充','time':'48分钟前','praiseNum':56,'praise':false},
                    {'portrait':'images/tx.jpg','name':'曹云','content':'都是浮云第四个防守打法是打给发生的','time':'48分钟前','praiseNum':56,'praise':false},
                    {'portrait':'images/tx.jpg','name':'曹云','content':'填充内容填充内容填充内容填充内容填充','time':'48分钟前','praiseNum':56,'praise':false}
                ]
            },
            mounted:function(){
            },
            methods:{
                thumbsUp:function(item){
                    item.praise = !item.praise
                    if(item.praise==true){
                        item.praiseNum = item.praiseNum + 1
                    }else{
                         item.praiseNum = item.praiseNum - 1
                    }
                       
                }
            }
        })
    </script>
</body>
</html>
